body{
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(211, 214, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    padding-left:20px;
}
.toleft{
    padding-top:100px;
    padding-left:20px;
}

.iAm{
    width:400px;
    height: 200px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: auto;
    background-color: white;
}

.iAm p{
    text-align: center;
    padding-top:30px;
    font-size:32px ;
}

.iAm div{
    margin: auto;
    width: 320px;
}
.iAm button{
    border-radius: 10px ;
    width:150px;
    height:32px;
    border: none;
    font-size:18px;
    cursor: pointer;
}
img{width:100%;margin-top: 150px;}

#student{
    background-color: yellow;
}
#student:hover{
    background-color: rgb(255, 204, 0);
}
#prof{
    background-color: white;
    border: 2px solid yellow;
}
#prof:hover{
    background-color: rgb(211, 214, 250);
}